@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #242424;
  background-color: #f2f2f2;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.div-conteiner {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.header {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.navigation {
  display: flex;
  margin: 0 auto;
}

.navigation-logo {
  display: flex;
  padding-right: 30px;
  padding-left: 70px;
  margin-bottom: -5px;
  overflow: hidden;
}

.navigation-item {
  padding-right: 34px;
}

.navigation-item-user:nth-child(1) .navigation-link {
  background-image: url("../images/icon/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 18px;
  height: 18px;
  padding-right: 12px;
  padding-left: 12px;
}

.navigation-item-user:nth-child(2) .navigation-link {
  background-image: url("../images/icon/favorite.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 18px;
  height: 17px;
  padding-right: 32px;
  padding-left: 11px;
  margin: 0;
  right: 11px;
}

.features-item-home {
  background-image: url("../images/icon/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 163px 80px;
  padding-bottom: 81px;
  background-color: rgba(131, 179, 211, 0.12);
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.navigation-user {
  display: flex;
  max-width: 300px;
  margin-right: 70px;
  justify-content: flex-end;
  padding: 0;
}

.navigation-div {
  min-width: 962px;
  display: flex;
  justify-content: space-between;
}

.navigation-list {
  margin-top: 0;
  max-width: 460px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 17px;
  margin-bottom: 0;
  align-items: center;
  justify-content: space-between;
}

.navigation-link {
  position: relative;
  display: block;
  font-style: normal;
  font-weight: 700;
  color: #000000;
  background: #ffffff;
  text-transform: capitalize;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.favorite-number {
  position: absolute;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: -0.1em;
  color: #ffffff;
  text-align: center;
  width: 20px;
  height: 20px;
  bottom: 27px;
  left: 34px;
  padding-top: 3px;
  border-radius: 50%;
  background-color: #7db54f;
  box-sizing: border-box;
}

.buton-favorite {
  position: relative;
}

.main-container {
  flex-grow: 1;
}

.div-welcome {
  background-image: url("../images/decorative/background-mountains.jpg");
  background-color: #82b3d3;
  background-size: cover;
  background-repeat: no-repeat;
}

.div-welcome::after {
  content: "";
  background-image: url("../images/decorative/divider.svg");
  background-repeat: no-repeat;
  display: block;
  height: 57px;
  width: 100%;
  margin-top: 25px;
}

.welcome-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-top: 63px;
  margin-left: 283px;
  margin-right: 290px;
}

.welcome-text {
  font-weight: 400;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  padding: 30px 272px 90px 273px;
  white-space: nowrap;
}

.section-subtitle {
  background-color: #ffffff;
  text-align: center;
}

.hotel-form {
  width: inherit;
  height: auto;
  background-repeat: no-repeat;
  background-color: #756157;
  background-image: url("../images/decorative/background-main.jpg");
  padding: 35px 70px 10px;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  background-size: cover;
  background-position: 50%;
}

.hotel-forms {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

.control-input:focus ~ .control-mark {
  background: rgba(255, 255, 255, 0.6);
  border: 3px solid #83b3d3;
  border-radius: 4px;
}

.catalog-filter-group-infrastructure {
  display: flex;
  flex-direction: column;
  border: none;
  padding-right: 70px;
  padding-left: 0;
  padding-top: 0;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.catalog-filter-title {
  margin: 0;
  padding-bottom: 29px;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}

.catalog-filter-group-type {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  padding: 0;
}

.range-input {
  width: 144px;
  padding: 12px 15px 15px 19px;
  background-color: transparent;
  font: inherit;
  color: #ffffff;
  text-align: left;
  border: 2px solid #ffffff;
  box-sizing: border-box;
}

.div-button {
  margin: 61px 70px 40px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navigation-item-user:first-child {
  position: relative;
}

.navigation-item-user:last-child {
  position: relative;
}

.active-page::before {
  content: "";
  position: absolute;
  width: 68px;
  height: 2px;
  background-color: #756257;
  top: 64px;
  left: 50%;
  margin-left: -34px;
}

.active-page-catalog::before {
  content: "";
  position: absolute;
  width: 93px;
  height: 2px;
  background-color: #756257;
  top: 65px;
  left: 37%;
  margin-left: -32px;
}

.advantage-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}

.section-real-city {
  display: flex;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.features-item {
  width: 400px;
  padding-top: 183px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-item-bridge {
  display: flex;
  background: #82b3d3;
  margin: 0;
}

.advantage-background {
  display: flex;
  justify-content: space-between;
  background-color: #82b3d3;
}

.description-text-bridge {
  max-width: 400px;
  color: #ffffff;
  margin: 92px 85px;
}

.description-text {
  max-width: 400px;
  margin: 92px 85px;
  color: #ffffff;
}

.advantage-foto {
  width: 800px;
}

.title-hotel {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.list-points {
  display: flex;
  padding: 0;
  margin: 0;
  color: #000000;
  list-style-type: none;
}

.features-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding-bottom: 30px;
}

.advantage-number {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  margin: 0;
  padding-top: 30px;
}

.advantage-discription {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  padding-top: 29px;
  margin: 0;
}

.advantage-list {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.features-dicscription {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  padding-left: 85px;
  padding-right: 85px;
  margin: 0;
}

.features-item-foot {
  background-color: #ffffff;
  background-image: url("../images/icon/food.svg");
  background-repeat: no-repeat;
  background-position: 163px 80px;
  padding-bottom: 81px;
}

.features-item-souvenir {
  background-image: url("../images/icon/souvenir.svg");
  background-repeat: no-repeat;
  background-position: 167px 79px;
  padding-bottom: 81px;
}

.advantage-title:nth-child(3) {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #11e42d;
}

.interested-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.interested-discription {
  font-weight: 400;
  text-align: center;
  color: #333333;
  margin: 0;
  padding-top: 29px;
  padding-bottom: 55px;
  padding-left: 304px;
  padding-right: 311px;
}

.interested-link {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #756157;
  border-radius: 4px;
  padding: 12px 0;
  width: 574px;
  text-decoration: none;
}

.footer-social {
  justify-content: space-between;
  display: flex;
  margin: 42px 53px 30px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  min-width: 150px;
  justify-self: start;
  list-style-type: none;
}

.footer-social-item {
  padding: 10px;
  margin-right: -33px;
}


.section-newsletter {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 94px;
  margin: 0;
}

.newsletter-discription {
  font-weight: 400;
  text-align: center;
  padding: 30px 361px 46px 362px;
  margin: 0;
}

.contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  width: 350px;
  text-decoration: none;
  margin-top: 3px;
  margin-right: -7px;
}

.htmlacademy {
  padding-top: 7px;
  padding-right: 17px;
}

.section-catalog {
  width: 1200px;
}

.main-hotels {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
}

.breadcrumbs-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.breadcrumbs-item:not(:last-child) {
  background-image: url("../images/icon/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: 5px 8px;
  left: 21px;
  bottom: 4px;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  padding-left: 5px;
  margin: 0;
  padding-bottom: 10px;
}

.breadcrumbs-arrow {
  position: absolute;
  padding-left: 22px;
  padding-top: 11px;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: #ffffff;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.checkbox {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.radio {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.button-submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  padding: 14px 15px;
  border-radius: 4px;
  border: none;
  width: 160px;
  cursor: pointer;
}

.button-reset {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  padding: 20px;
  cursor: pointer;
}

.button-reset:hover {
  color: #ffffff;
  opacity: 0.6;
}

.button-reset:active {
  color: #ffffff;
  opacity: 0.3;
}

.hotel-card {
  display: grid;
  width: 340px;
  padding: 19px;
  margin-right: -14px;
  box-sizing: border-box;
  grid-template-columns: 140px 140px;
  gap: 14px 20px;
  text-align: left;
}

.hotel-card-image {
  grid-column: 1/3;
  grid-row: 1/2;
  margin: 0;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
  grid-column: 1/3;
  grid-row: 2/3;
  font: inherit;
}

.hotel-card a {
  text-decoration: none;
}

.hotel-card-more {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #756157;
  border-radius: 4px;
  width: 140px;
  grid-column: 1/2;
  grid-row: 4/5;
  padding: 9px 15px 8px;
  display: inline-block;
  box-sizing: border-box;
}

.hotel-card-favorites {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #82b3d3;
  border-radius: 4px;
  width: 140px;
  grid-column: 2/3;
  grid-row: 4/5;
  border: none;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  font-family: inherit;
}

.hotel {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  grid-column: 1/2;
  grid-row: 3/4;
  margin: 0;
}

.hotel-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  grid-column: 2/3;
  grid-row: 3/4;
  margin: 0;
}

.stars {
  grid-column: 1/2;
  grid-row: 5/6;
  padding-top: 6px;
}

.rating-star {
  display: inline-block;
  background-image: url("../images/icon/icon-star.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 17px;
  text-indent: 100%;
  overflow: hidden;
}

.hotel-rating {
  grid-column: 2/3;
  grid-row: 5/6;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background: #f2f2f2;
  border-radius: 4px;
  background-position: center;
  padding-top: 9px;
  padding-bottom: 8px;
}

.pagination-link-active {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: block;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background: #f2f2f2;
  border-radius: 4px;
  width: 60px;
  height: 60px;
  padding-top: 12px;
  padding-bottom: 11px;
}

.pagination-link:hover {
  background: #68a2ca;
  border: 1px solid #82b3d3;
  border-radius: 4px;
}

.pagination-link:focus {
  background: #68a2ca;
  border: 1px solid #82b3d3;
  border-radius: 4px;
}

.pagination-link:active {
  background: #82b3d3;
  border: 1px solid #82b3d3;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.3);
}

.btn:hover {
  background: #615048;
  border-radius: 4px;
}

.btn:active {
  background: #756157;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.3);
}

.btn:disabled {
  background: #e5e5e5;
  border-radius: 4px;
}

.button-active {
  background: #7db54f;
  border-radius: 4px;
}

.button-active:hover {
  background: #6c9e42;
  border-radius: 4px;
}

.button-active:active {
  background: #6c9e42;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.3);
}

.button-active:disabled {
  background: #e5e5e5;
  border-radius: 4px;
}

.other-button:hover {
  background: #68a2ca;
  border-radius: 4px;
}

.other-button:active {
  background: #82b3d3;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.3);
}

.other-button:disabled {
  background: #e5e5e5;
  border-radius: 4px;
}

.vk-icon {
  fill: #83b3d3;
}

.vk-icon:hover {
  fill: #68a2ca;
}

.vk-icon:active {
  fill: rgba(104, 162, 202, 0.3);
}

.telegram-icon {
  fill: #83b3d3;
}

.telegram-icon:hover {
  fill: #68a2ca;
}

.telegram-icon:active {
  fill: rgba(104, 162, 202, 0.3);
}

.youtube-icon {
  fill: #83b3d3;
}

.youtube-icon:hover {
  fill: #68a2ca;
}

.youtube-icon:active {
  fill: rgba(104, 162, 202, 0.3);
}

.academy-icon {
  fill: #000000;
}

.academy-icon:hover {
  fill: #756157;
}

.academy-icon:active {
  fill: rgba(117, 97, 87, 0.3);
}

.contacts-phone:hover {
  color: #756157;
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.icon-home {
  padding-right: 18px;
  fill: #ffffff;
  margin-left: -5px;
  padding-top: 9px;
}

.icon-home:hover {
  fill: rgba(255, 255, 255, 0.6);
}

.icon-home:active {
  fill: rgba(255, 255, 255, 0.3);
}

.icon-home:focus {
  fill: #ffffff;
}

.button-icon-table {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.button-icon-slideshow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.icon-slideshow {
  position: relative;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  margin-left: 8px;
}

.icon-slideshow:hover {
  border: 2px solid #000000;
  border-radius: 4px;
}

.icon-slideshow:active {
  border: 2px solid #000000;
  border-radius: 4px;
}

.icon-slideshow:focus {
  border: 2px solid #68a2ca;
  border-radius: 4px;
}


.icon-table {
  position: relative;
  border-radius: 4px;
  margin-left: 8px;
  border: 2px solid #000000;
}

.icon-table:hover {
  border: 2px solid #000000;
  border-radius: 4px;
}

.icon-table:focus {
  border: 2px solid #68a2ca;
  border-radius: 4px;
}

.icon-table:active {
  border: 2px solid #000000;
  border-radius: 4px;
}

.button-icon-list {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.icon-list {
  position: relative;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  margin-left: 8px;
}

.icon-list:hover {
  border: 2px solid #000000;
  border-radius: 4px;
}

.icon-list:focus {
  border: 2px solid #68a2ca;
  border-radius: 4px;
}

.icon-list:active {
  border: 2px solid #000000;
  border-radius: 4px;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background: #82b3d3;
  border: 1px solid #82b3d3;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 11px;
}

.label-quantity-hotel {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin-left: auto;
  text-align: center;
}

.road {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantage-item:first-child {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-item:last-child {
  background-color: rgba(131, 179, 211, 0.12);
}

.features-item-food {
  background: #ffffff;
}

.advantage-item {
  max-width: 400px;
  padding: 103px 79px 101px;
}

.advantage-title-black {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.time {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 30px;
  padding-right: 6px;
}

.advantage-number-black {
  color: #000000;
  margin: 0;
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.advantage-discription-black {
  color: #333333;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.breadcrumbs {
  margin-top: 6px;
}

.navigation-link-button {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #756157;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  width: 160px;
  border-radius: 4px;
  text-decoration: none;
  padding: 9px 15px 8px 15px;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  font-family: inherit;
}

.interested {
  background-color: #ffffff;
  text-align: center;
  padding-top: 91px;
  padding-bottom: 93px;
}

.newsletter {
  display: flex;
  flex-direction: column;
  background-image: url("../images/decorative/background-canyon.jpg");
  background-repeat: no-repeat;
  background-color: #82b3d3;
  background-size: cover;
  align-items: center;
  padding: 0;
  margin: 0;
  color: #ffffff;
}

.newsletter-catalog {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  background-size: 100% auto;
  align-items: center;
  padding: 0;
  margin: 0;
}

.footer-newsletter {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  text-transform: uppercase;
  padding-top: 66px;
}

.filter-max-price {
  border-radius: 0 4px 4px 0;
}

.filter-max-price:hover {
  border: 2px solid #ffffff;
  border-radius: 0 4px 4px 0;
  opacity: 0.6;
}

.filter-max-price:focus {
  border: 2px solid #ffffff;
  box-shadow: 0 0 0 3px #81b3d2;
  border-radius: 0 4px 4px 0;
  outline-color: #81b3d2;
}

.filter-max-price:active {
  background: #756257;
  border: 2px solid #ffffff;
  border-radius: 0 4px 4px 0;
}

.filter-min-price {
  border-radius: 4px 0 0 4px;
}

.filter-min-price:hover {
  border: 2px solid #ffffff;
  border-radius: 4px 0 0 4px;
  opacity: 0.6;
}

.filter-min-price:focus {
  border: 2px solid #ffffff;
  box-shadow: 0 0 0 3px #81b3d2;
  border-radius: 4px 0 0 4px;
  outline-color: #81b3d2;
}

.filter-min-price:active {
  background: #756257;
  border: 2px solid #ffffff;
  border-radius: 4px 0 0 4px;
}

.label-min-price {
  position: relative;
}

.label-max-price {
  position: relative;
}

.label-min-price::after {
  position: absolute;
  display: block;
  font-size: 18px;
  content: "от";
  width: 15px;
  height: 15px;
  right: 20px;
  top: 13px;
  opacity: 0.3;
}

.label-max-price::after {
  position: absolute;
  display: block;
  font-size: 18px;
  content: "от";
  width: 15px;
  height: 15px;
  right: 20px;
  top: 13px;
  opacity: 0.3;
}


.newsletter-button {
  display: inline-block;
  background: #82b3d3;
  border-radius: 0 10px 10px 0;
  color: #ffffff;
  width: 200px;
  padding: 12px 15px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 94px;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.newsletter-button:hover {
  background: #68a2ca;
  border-radius: 0 10px 10px 0;
}

.newsletter-button:focus {
  background: #68a2ca;
  border-radius: 0 10px 10px 0;
}

.newsletter-button:active {
  color: rgba(255, 255, 255, 0.3);
  background: #82b3d3;
  border-radius: 0 10px 10px 0;
}

.form-newsletter {
  display: flex;
  align-items: flex-start;
}

.label-catalog {
  white-space: nowrap;
}

.range-wrapper-inputs {
  display: flex;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 288px;
  height: 48px;
  border: none;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 32px;
  margin-left: 10px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
  width: 227px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
  margin-left: 172px;
  margin-top: 2px;
}

.input-email {
  display: inline-block;
  margin: 0;
  padding: 20px 22px 19px 22px;
  background-color: #f2f2f2;
  border-radius: 10px 0 0 10px;
  border-color: #f2f2f2;
  font-family: inherit;
  width: 558px;
  font-size: 18px;
  line-height: 21px;
  border: none;
  outline: none;
}

.input-adult::placeholder, .text-input::placeholder, .input-arrival-date::placeholder, .input-child::placeholder {
    color: #000000;
    font: inherit;
}

.input-email:focus-visible {
  outline: 2px solid #000000;
  border-radius: 10px 0 0 10px;
}

.images-welcome-sedona {
  display: flex;
  margin: 0 auto;
  padding-top: 50px;
}

.catalog-list {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  column-gap: 56px;
  margin: 0;
  padding: 0;
  justify-content: center;
  margin-bottom: 75px;
  margin-right: 36px;
}

.catalog {
  margin-bottom: 52px;
}

.select-control {
  margin-left: 193px;
  margin-right: 72px;
  min-width: 290px;
  padding: 14px 1px 14px 20px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  appearance: none;
  background-image: url("../images/icon/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  font-family: inherit;
}

.select-control:hover {
  border: 2px solid #68a2ca;
  border-radius: 4px;
}

.select-control:active {
  border: 2px solid #3f5e72;
  border-radius: 4px;
}

.sorting-container .button {
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.sorting-container {
  display: flex;
  margin: 54px 71px 53px 72px;
  align-items: center;
}

.search-results {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  font-family: inherit;
  text-transform: uppercase;
  white-space: nowrap;
}

.pagination-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: 73px;
  margin-right: 71px;
  padding-top: 28px;
  border-top: 1px solid #e6e6e6;
}

.control-mark {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control-mark:hover {
  background: rgba(255, 255, 255, 0.6);
}

.control-mark:focus {
  background: rgba(255, 255, 255, 0.6);
  border: 3px solid #83b3d3;
  border-radius: 4px;
}

.control-mark:active {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.radio-button:focus {
  border: 3px solid #83b3d3;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 15px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  content: url("../images/icon/checkbox-arrow.svg");
  bottom: 1px;
  left: 4px;
}

.control {
  position: relative;
  display: block;
  padding-left: 41px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.control-label {
  line-height: 21px;
}

.select-quantity {
  width: 160px;
  padding: 14px 20px;
  padding-right: 50px;
  font: inherit;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-image: url("../images/icon/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
  margin-left: 46px;
}

.vk-button,
.telegram-button,
.youtube-button {
  padding: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  background-color: #ffffff;
  padding: 63px 70px 70px 68px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-search-hotels {
  max-width: 715px;
  box-sizing: border-box;
}

.modal-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding-bottom: 62px;
}

.arrival-date {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  align-self: center;
}

.departure-date {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  align-self: center;
}

.modal-container-close {
  display: none;
}

.input-arrival-date {
  width: 420px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background: #f2f2f2;
  border-radius: 4px;
  padding: 19px 14px 19px;
  border: none;
  box-sizing: border-box;
  font-family: inherit;
}

.input-arrival-date:hover {
  background: #e6e6e6;
  border-radius: 4px;
}

.input-arrival-date:focus {
  border: 3px solid #83b3d3;
  border-radius: 4px;
  background: #e6e6e6;
}

.input-arrival-date:active {
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 4px;
}

.text-input:hover {
  background: #e6e6e6;
  border-radius: 4px;
}

.text-input:focus {
  border: 3px solid #83b3d3;
  border-radius: 4px;
  background: #e6e6e6;
}

.text-input:active {
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 4px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.modal-close-button:hover {
  background: #e6e6e6;
  cursor: pointer;
}

.modal-close-button:focus {
  background: #e6e6e6;
  border: 3px solid #83b3d3;
  cursor: pointer;
}

.modal-close-button:active {
  opacity: 0.3;
  background: #e6e6e6;
}

.calendar-icon {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 91px;
  top: 178px;
}

.calendar-icon-departure-date {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 91px;
  top: 267px;
}

.text-input {
  width: 420px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background: #f2f2f2;
  border-radius: 4px;
  padding: 13px 14px 19px;
  border: none;
  box-sizing: border-box;
  color: #000000;
  font-family: inherit;
}


.button-find {
  display: inline-block;
  width: 575px;
  background: #83b3d3;
  border-radius: 10px;
  color: #ffffff;
  padding: 12px 26px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  border: none;
  cursor: pointer;
  margin-top: 40px;
  height: 60px;
}

.button-find:hover{
  border-radius: 10px;
}

.date-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ff5757;
  padding-left: 157px;
  padding-bottom: 5px;
  margin: 0;
}

.date-text-two {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  padding-left: 156px;
  padding-top: 11px;
  padding-bottom: 10px;
  margin: 0;
}

.tooltip-icon {
  align-self: center;
}

.modal-stok-two {
  display: flex;
}

.button-adult-minus,
.button-adult-plus {
  width: 44px;
  height: 50px;
  border: none;
  background: #f2f2f2;
  cursor: pointer;
}

.button-adult-minus {
  border-radius: 4px 0 0 4px;
}

.button-adult-plus {
  border-radius: 0 4px 4px 0;
  position: relative;
}

.button-child-minus {
  border-radius: 4px 0 0 4px;
}

.button-child-plus {
  position: relative;
  border-radius: 0 4px 4px 0;
}

.button-child-minus,
.button-child-plus {
  width: 44px;
  height: 50px;
  border: none;
  background: #f2f2f2;
  cursor: pointer;
}

.plus-child {
  position: absolute;
  background-image: url("../images/icon/icon-plus.svg");
  background-repeat: no-repeat;
  width: 13px;
  height: 13px;
  top: 19px;
  left: 13px;
  overflow: hidden;
  text-indent: 100%;
}

.minus-adult {
  position: absolute;
  display: inline-block;
  width: 13px;
  height: 1px;
  fill: #000000;
  opacity: 0.3;
}

.minus-adult:hover {
  fill: #000000;
  opacity: 100%;
}

.minus-adult:focus {
  border: 3px solid #83b3d3;
  border-radius: 4px;
  width: 25px;
  height: 25px;
}

.minus-adult:active {
  background: #000000;
  opacity: 0.2;
}

.plus-adult {
  position: absolute;
  display: inline-block;
  width: 13px;
  height: 13px;
  top: 19px;
  left: 13px;
  opacity: 0.3;
  fill: #000000;
}

.plus-adult:hover {
  fill: #000000;
  opacity: 100%;
}

.plus-adult:focus {
  border: 3px solid #83b3d3;
  border-radius: 4px;
}

.plus-adult:active {
  fill: #000000;
  opacity: 0.2;
}

.input-adult {
  width: 45px;
  height: 48px;
  border: none;
  background: #f2f2f2;
  text-align: center;
}

.input-child {
  width: 45px;
  height: 48px;
  border: none;
  background: #f2f2f2;
  text-align: center;
  appearance: none;
}

.div-adult {
  display: flex;
  margin-right: 56px;
}

.div-child {
  display: flex;
}

.modal-stok {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.field-label,
.field-label-child {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  text-transform: capitalize;
}

.field {
  display: flex;
  align-items: center;
}

.field-label {
  padding-right: 64px;
  align-self: center;
}

.field-label-child {
  position: relative;
  align-self: center;
}

.tooltip-toggle {
  position: relative;
  display: block;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  padding-left: 4px;
  padding-top: 6px;
  padding-right: 13px;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text {
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  padding: 15px 18px 18px 22px;
  text-transform: none;
  border-radius: 10px;
  width: 256px;
  top: 398px;
  display: block;
  background-color: #242424;
  left: 482px;
  transform: translateX(-50%);
  z-index: 1;
  opacity: 1;
  text-align: left;
  box-sizing: border-box;
  display: none;
}

.tooltip-text::before {
  position: absolute;
  bottom: 126px;
  left: 50%;
  width: 19px;
  height: 19px;
  margin-left: -10px;
  background-color: #242424;
  content: "";
  transform: rotate(45deg);
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
