@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #242424;
  background-color: #e5e5e5;
}

.div-conteiner {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.header {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
}

.navigation {
  display: flex;
  margin: 0 auto;
}

.navigation-logo {
  display: flex;
  padding-right: 30px;
  padding-left: 70px;
  margin-bottom: -5px;
}

.navigation-user .navigation-item:nth-child(1) .navigation-link {
  background-image: url("../images/icon/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 18px;
  height: 18px;
  /* padding-right: 32px;
  padding-left: 11px; */
}

.navigation-user .navigation-item:nth-child(2) .navigation-link {
  background-image: url("../images/icon/favorite.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 18px;
  height: 17px;
  padding-right: 32px;
  padding-left: 11px;
  margin: 0;
}

.features-item-home {
  background-image: url("../images/icon/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 163px 80px;
  /* position: relative; */
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.navigation-list {
  margin-top: 0;
  width: 390px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  align-items: center;
  justify-content: space-between;
  margin-right: 0 auto;
}

.navigation-user {
  display: flex;
  max-width: 300px;
  padding-left: 237px;
  margin-right: 70px;
  justify-content: flex-end;
}

.navigation-link-about-sedona {
  padding-left: 34px;
  padding-right: 34px;
  color: #000000;
  text-decoration: none;
}

.navigation-link-hotel {
  color: #000;
  text-decoration: none;
}

.navigation-link {
  position: relative;
  display: block;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  color: #000000;
  background: #FFFFFF;
  text-transform: capitalize;
  text-decoration: none;
}

.favorite-number{
    position: absolute;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: -0.1em;
    color: #FFFFFF;
    text-align: center;
    width: 20px;
    height: 20px;
    bottom: 7px;
    left: 34px;
    padding-top: 3px;
    border-radius: 50%;
    background-color: #7DB54F;
    box-sizing: border-box;
}

.buton-favorite{
  position: relative;
}
.main-container {
  flex-grow: 1;
}

.div-welcome {
  background-image: url("../images/decorative/background-mountains.jpg");
  background-color: #82B3D3;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -5px;
  height: 485px;
}

.div-welcome::after{
  content: "";
  background-image:  url("../images/decorative/divider.svg");
  background-repeat: no-repeat;
  /* background-position: center; */
  display: block;
  height: 57px;
  width: 100%;
}

.welcome-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-top: 63px;
  margin-left: 290px;
  margin-right: 290px;
}

.welcome-text {
  font-weight: 400;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  padding: 31px 273px 90px 273px;
}

.section-subtitle {
  background-color: #FFFFFF;
  text-align: center;
  /* padding: 63px 273px 90px 273px; */
}

 .hotel-form{
  width: inherit;
  height: auto;
  background-repeat: no-repeat;
  background-color: #756157;
  background-image: url("../images/decorative/background-main.jpg");
  padding: 35px 70px 70px;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  background-size: cover;
  background-position: 50%;
}

.hotel-forms {
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
  margin-top: 40px;
}

.catalog-filter-group-infrastructure {
  display: flex;
  flex-direction: column;
  border: none;
  padding-right: 70px;
  padding-left: 0;
  padding-top: 0;
  margin: 0;
}

.catalog-filter-title {
  margin: 0;
  padding-bottom: 30px;
  text-transform: capitalize;
  color: #FFFFFF;
  font-weight: 700;
}

.catalog-filter-group-type {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  padding: 0;
}

.range-input{
  width: 144px;
  padding: 12px 15px 15px 19px;
  background-color: transparent;
  border: none;
  font: inherit;
  color: #FFFFFF;
  text-align: left;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  box-sizing: border-box;
}

.div-button{
  margin: 60px 70px 40px 70px;
  display: flex;
    flex-direction: column;
    justify-content: center;

}

.navigation-item:first-child{
  position: relative;
}

.navigation-item:last-child{
  position: relative;
}

.active-page::before{
  content: "";
  position: absolute;
  width: 68px;
  height: 2px;
  background-color: #756257;
  top: 40px;
  left: 50%;
  margin-left: -34px;
}

.active-page-catalog::before{
  content: "";
  position: absolute;
  width: 93px;
  height: 2px;
  background-color: #756257;
  top: 45px;
  left: 37%;
  margin-left: -34px;
}

.advantage-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 92px;
  padding-left: 85px;
  padding-right: 85px;
  margin: 0;
}

.section-real-city {
  display: flex;
}

.features-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.features-item {
  width: 400px;
  padding-top: 183px;
  background-color: rgba(131, 179, 211, 0.12);
}

.features-item-home {
  background-color: rgba(131, 179, 211, 0.12);
}


.advantage-item-bridge {
  display: flex;
  background: #82B3D3;
  margin: 0;
}

.discription-bridge,
.advantage-background {
  background-color: #82B3D3;
  width: 400px;
}

.advantage-foto {
  width: 800px;
}

.list-points {
  display: flex;
  padding: 0;
  margin: 0;
  color: #000000;
  list-style-type: none;
}

.features-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 30px;
}

.advantage-number {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  margin: 0;
  padding-top: 30px;
}

.advantage-discription {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  padding:30px 85px 92px 85px;
  margin: 0;
}

.advantage-list {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.features-dicscription {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  padding-left: 85px;
  padding-right: 85px;
  padding-bottom: 81px;
  margin: 0;
}

.features-item-foot {
  background-color: #FFFFFF;
  background-image: url("../images/icon/food.svg");
  background-repeat: no-repeat;
  background-position: 163px 80px;
}

.features-item-souvenir {
  background-image: url("../images/icon/souvenir.svg");
  background-repeat: no-repeat;
  background-position: 163px 80px;
}

.advantage-title:nth-child(3) {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #11e42d;
}

.interested-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.interested-discription {
  font-weight: 400;
  text-align: center;
  color: #333333;
  margin: 0;
  padding-top: 29px;
  padding-bottom: 56px;
  padding-left: 304px;
  padding-right: 304px;
}

.interested-link {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #756157;
  border-radius: 4px;
  padding: 12px 15px;
  width: 574px;
  text-decoration: none;
}

/* .footer{
  padding: 40x 70px 30px 70px;
} */

.footer-social {
  justify-content: space-between;
  display: flex;
  margin: 40px 70px 30px 70px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 150px;
  justify-self: start;
  list-style-type: none;
  padding-left: 70px;
}

.footer-social-item {
  margin-right: 15px;
}


.section-newsletter {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 94px;
  margin: 0;
}

.newsletter-discription {
  font-weight: 400;
  text-align: center;
  padding: 29px 363px 46px 362px;
  margin: 0;
}

.contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  width: 331px;
  text-decoration: none;
}

.section-catalog {
  width: 1200px;
}

.main-hotels {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  margin: 0;
}

.breadcrumbs-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  padding-right: 29px;
  margin: 0;
}

.breadcrumbs-item :not(:last-child){
  background-image: url("../images/icon/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  padding-right: 3px;
  position: relative;
  background-size: 5px 8px ;
  left: 23px;
 }
.breadcrumbs-link:hover{
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus{
  color: #FFFFFF;
}

.breadcrumbs-link:active{
  color: rgba(255, 255, 255, 0.3);
}

.checkbox {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.radio {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.button-submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  padding: 14px 15px;
  border-radius: 4px;
  border: none;
  width: 160px;

}

.button-reset {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  padding: 20px;
}

.hotel-card {
  /* display: flex;
  flex-direction: column;
  padding: 20px; */
  list-style-type: none;
  width: 300px;
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 211px 28px 21px 37px 37px;
  height: 438px;
  row-gap: 16px;
  column-gap: 20px;
}

.hotel-card-image {
  grid-column: 1/3;
  grid-row: 1/2;
  margin: 0;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
  grid-column: 1/3;
  grid-row: 2/3;
}

.hotel-card a {
  text-decoration: none;
}

.hotel-card-more {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  /* display: flex; */
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #756157;
  border-radius: 4px;
  /* padding: 9px 15px 8px 15px; */
  /* margin-left: 20px; */
  /* margin-right: 20px; */
  width: 140px;
  grid-column: 1/2;
  grid-row: 4/5;
  padding-top: 9px;
}

.hotel {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  grid-column: 1/2;
  grid-row: 3/4;
  margin: 0;
}

.hotel-card-price {
  grid-column: 2/3;
  grid-row: 3/4;
  margin: 0;
}

.hotel-card-favorites {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #82B3D3;
  border-radius: 4px;
  /* padding: 9px 15px 8px 15px; */
  width: 140px;
  grid-column: 2/3;
  grid-row: 4/5;
  padding-top: 9px;
}

/* .hotel-stars {
  grid-column: 1/2;
  grid-row: 5/6;
  background-image: url("../images/icon/icon-star.svg");
  background-repeat:no-repeat;
  background-position: center left;

} */
.stars{
  grid-column: 1/2;
  grid-row: 5/6;
}

.rating-star{
  display: inline-block;
  background-image: url("../images/icon/icon-star.svg");
  background-repeat:no-repeat;
  width: 18px;
  height: 17px;
  text-indent: 100%;
  overflow: hidden;
}

.hotel-rating {
  grid-column: 2/3;
  grid-row: 5/6;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background: #F2F2F2;
  border-radius: 4px;
  background-position: center;
  padding-top: 9px;
  padding-bottom: 8px;
}

.pagination-link-active {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: block;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background: #F2F2F2;
  border-radius: 4px;
  width: 60px;
  height: 60px;
  padding-top: 12px;
  padding-bottom: 11px;
}

.pagination-link:hover {
  background: #68A2CA;
  border: 1px solid #82B3D3;
  border-radius: 4px;
}

.pagination-link:focus {
  background: #68A2CA;
  border: 1px solid #82B3D3;
  border-radius: 4px;
}

.pagination-link:active {
  background: #82B3D3;
  border: 1px solid #82B3D3;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.3);
  ;
}

.btn:hover {
  background: #615048;
  border-radius: 4px;
}

.btn:active {
  background: #756157;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.3);
}

.btn:disabled{
  background: #E5E5E5;
  border-radius: 4px;
}

.button-active {
  background: #7DB54F;
  border-radius: 4px;
}

.button-active:hover {
  background: #6C9E42;
  border-radius: 4px;
}

.button-active:active {
  background: #6C9E42;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.3);
}

.button-active:disabled{
  background: #E5E5E5;
  border-radius: 4px;
}

.other-button:hover {
  background: #68A2CA;
  border-radius: 4px;
}

.other-button:active {
  background: #82B3D3;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.3);
}

.other-button:disabled{
  background: #E5E5E5;
  border-radius: 4px;
}

.vk-icon {
  fill: #83B3D3;
}

.vk-icon:hover {
  fill: #68A2CA;
}

.vk-icon:active {
  fill: rgba(104, 162, 202, 0.3);
}

.telegram-icon {
  fill: #83B3D3;
}

.telegram-icon:hover {
  fill: #68A2CA;
}

.telegram-icon:active {
  fill: rgba(104, 162, 202, 0.3);
}

.youtube-icon {
  fill: #83B3D3;
}

.youtube-icon:hover {
  fill: #68A2CA;
}

.youtube-icon:active {
  fill: rgba(104, 162, 202, 0.3);
}

.academy-icon {
  fill: #000000;
}

.academy-icon:hover {
  fill: #756157;
}

.academy-icon:active {
  fill: rgba(117, 97, 87, 0.3);
}

.contacts-phone:hover {
  color: #756157;
}

.contacts-phone:active{
  color: rgba(117, 97, 87, 0.3);
}

.icon-home{
  padding-right: 14px;
  fill: #FFFFFF;
}

.icon-home:hover{
  fill: rgba(255, 255, 255, 0.6);
}

.icon-home:active{
  fill:rgba(255, 255, 255, 0.3);
}

.icon-home:focus{
  fill:#FFFFFF;
}

.button-icon-table{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.button-icon-slideshow{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.icon-slideshow{
  position: relative;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  margin-left: 8px;
  }

  .icon-slideshow:hover{
    border: 2px solid #000000;
    border-radius: 4px;
  }

  .icon-slideshow:active{
    border: 2px solid #000000;
    border-radius: 4px;
  }

  .icon-slideshow:focus{
    border: 2px solid #68A2CA;
    border-radius: 4px;
  }


.icon-table{
  position: relative;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  margin-left: 8px;
}

.icon-table:hover{
  border: 2px solid #000000;
  border-radius: 4px;
}

.icon-table:focus{
  border: 2px solid #68A2CA;
  border-radius: 4px;
}

.icon-table:active{
  border: 2px solid #000000;
  border-radius: 4px;
}

.button-icon-list{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.icon-list{
  position: relative;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  margin-left: 8px;
}

.icon-list:hover{
  border: 2px solid #000000;
  border-radius: 4px;
}

.icon-list:focus{
  border: 2px solid #68A2CA;
  border-radius: 4px;
}

.icon-list:active{
  border: 2px solid #000000;
  border-radius: 4px;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  background: #82B3D3;
  border: 1px solid #82B3D3;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 11px;
}

.label-quantity-hotel {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}


.features-item-food {
  background: #FFFFFF;
}

.advantage-item {
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
  margin: 0;
}

.advantage-item-area {
  width: 400px;
  background: rgba(131, 179, 211, 0.12);
  margin: 0;
}

.advantage-item-road {
  width: 400px;
  background: rgba(131, 179, 211, 0.2);
  align-items: center;
  /* padding-top: 102px;
  padding-bottom: 102px; */
  margin: 0;
}

.advantage-title-black {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding: 102px 85px 30px;
  margin: 0;
}

.advantage-number-black {
  color: #000000;
  margin: 0;
  padding-bottom: 30px;
}

.advantage-discription-black {
  color: #333333;
  padding-left: 85px;
  padding-right: 85px;
  padding-bottom: 102px;
  margin: 0;
}

.navigation-link-button {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #756157;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 160px;
  border-radius: 4px;
  text-decoration: none;
  padding: 9px 15px 8px 15px;

}

.interested {
  background-color: #FFFFFF;
  text-align: center;
  padding-top: 91px;
  padding-bottom: 93px;
}

.newsletter {
  display: flex;
  flex-direction: column;
  background-image: url("../images/decorative/background-canyon.jpg");
  background-repeat: no-repeat;
  background-color: #82B3D3;
  background-size: cover;
  padding-top: 94px;
  padding-bottom: 94px;
  align-items: center;
  padding: 0;
  margin: 0;
  color: #FFFFFF;
}

.newsletter-catalog {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  background-size: 100% auto;
  padding-top: 94px;
  padding-bottom: 94px;
  align-items: center;
  padding: 0;
  margin: 0;
}

.footer-newsletter {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  margin: 0;
}

.newsletter-button {
  display: inline-block;
  background: #82B3D3;
  border-radius: 0px 10px 10px 0px;
  color: #FFFFFF;
  width: 200px;
  padding: 12px 15px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 94px;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.form-newsletter{
  display: flex;
  align-items: flex-start;
  border-style: ;
}

.label-catalog{
  white-space: nowrap;
}

.range-wrapper-inputs{
  display: flex;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 288px;
  height: 48px;
}

.range-scale{
  position: relative;
  height: 4px;
  background-color: rgba(255,255,255,0.3);
  margin-top: 32px;
  margin-left: 10px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
  width: 227px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 2px solid #242424;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-group{
  border: none;
  margin: 0;
  padding: 0;
  margin-left: 175px;
}

.input-email {
  display: inline-block;
  margin: 0;
  padding: 20px 22px 19px 22px;
  background-color: #F2F2F2;
  border-radius: 10px 0px 0px 10px;
  border-color: #f2f2f2;
  font-family: inherit;
  width: 600px;
  font-size: 18px;
  line-height: 21px;
  border: none;
}


.images-welcome-sedona {
  display: flex;
  margin: 0 auto;
  padding-top: 76px;
}

.catalog-list {
  /* display: flex;
  width: 1056px;
  margin: auto;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: 300px 300px 300px;
  column-gap: 48px;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.catalog {
  margin-bottom: 52px;
  /* margin-left: 73px;
  margin-right: 71px; */
}

.select-control {
  margin-left: 191px;
  margin-right: 78px;
  width: 290px;
  padding: 14px 1px 14px 20px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  appearance: none;
  background-image: url(../images/icon/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 16px center;
}

.select-control:hover{
  border: 2px solid #68A2CA;
  border-radius: 4px;
}

.select-control:active{
  border: 2px solid #3F5E72;
  border-radius: 4px;
}

.sorting-container .button {
  width: 48px;
  height: 48px;
  background-color: #FFFFFF;
}

.sorting-container {
  display: flex;
  margin: 50px 71px 56px 72px;
  align-items: center;
}

.search-results {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  font-family: inherit;
  text-transform: uppercase;
  white-space: nowrap;
}

.pagination-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: 73px;
  margin-right: 71px;
}

.label-quantity-hotel {
  margin-left: auto;
  text-align: center;

}

.control-mark{
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 15px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  content: url(../images/icon/checkbox-arrow.svg);
  bottom: 1px;
  left: 4px;
}

.control {
  position: relative;
  display: block;
  padding-left: 41px;
}

.control-label {
  line-height: 21px;
}

.select-quantity{
  width: 160px;
  padding: 14px 20px;
  padding-right: 50px;
  font: inherit;
  background-color: #ffffff;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-image: url(../images/icon/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
  margin-left: 51px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* .modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 40px;
  background-color: #ffffff;
} */
